body { 
    line-height: 1; 
    background-color: #f7f7f7;
}

h1{
    font-family: 'Open Sans', sans-serif; 
    text-align: left;
    color: 	#00b6ad;
    margin-top: 3%;
    margin-left: 10%;
    font-size: 26px;
}

p{
    font-family: 'Open Sans', sans-serif;
}

#searchInput{
    font-family: 'Open Sans', sans-serif;
    color:darkgrey;
}

input[type=text]{
    display: inline-block;
    margin-left: 10%;
    margin-bottom:5px;
    border: 3px solid;
    border-color: #3d3935;
    width:10em;
    height:2em;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    background-image: url('sIcon.png');
    background-position: 6px 6px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 35px;
}

input[type=text]:focus{
    border-color:#00b6ad;
    width:250px;
    outline:none;
}


li{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10%;
    line-height: 140%;
    background-color:#dddddd;
    width:300px;
}
